*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(
        140deg,
        #a3fff1,
        #FFCCAC,
        #f9edb7,
        #75f0de 
    );
}

.container {
    height: 100px;
    width: 30%;
    min-width: 250px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: #fff;
    border: 2px solid  #72867e;
    border-radius: 20px;
    
    transition: height 2s ease;
    padding: 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;



    @media (max-width: 819px) {
        height: 70px;   
    }

    
    .search {
        width: 90%;
        margin: 0 auto;
       

        form {
            display: flex;
            align-items: center;
            justify-content: center;

    
            .searchField {
                font-family: 'Cabin', sans-serif;
                font-size: 25px;
                color:  #72867e;
                outline: none;
                border: none;
                margin: 0 10px;
                border-radius: 10px;
                padding: 5px;
                text-transform: capitalize;
    
                &:focus {
                    box-shadow: 0 0 10px #72867e;
                }

                @media (max-width: 1279px) {
                    font-size: 20px;   
                }

                @media (max-width: 991px) {
                    font-size: 15px;
                }
                
            }
    
            .material-symbols-outlined {
                color:  #72867e;
                font-size: 30px;
                
    
                &:last-child {
                    background-color:  #dde1df;
                    border-radius: 50%;
                    padding: 5px;
                }
    
    
                &:last-child:hover {
                    color:  #106753;
                    cursor: pointer;
                }

                @media (max-width: 1279px) {
                    font-size: 20px;
                }

                @media (max-width: 991px) {
                    font-size: 15px;
                }
            }
        }
    }


    .not-found {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 250px;
        width: 400px;
        position: absolute;
        top: -50px;
        left: 50%;
        transform: translateX(-50%); 
        z-index: 99; 
        background-color: #fff;
        border-radius: 20px;
        padding: 5px;
        border: 1px solid  #106753;
        transition: all 1s ease;
        scale: 0;
        opacity: 0;



        .modal-item{
            display: inline-block;
            margin-left: auto;

            .material-symbols-outlined {
                text-align: center;
                color: #72867e;
                font-size: 20px;
                cursor: pointer;
                margin-right: 0;
                margin-left: auto;
                
                &:hover {
                    color: #232725;
                }
            }
        }

            .modal-img {
                img {
                    width: 200px;
                    height: 150px; 
                }
            }
        
            .modal-text {
                p {
                    text-align: center;
                    font-family: 'Cabin', sans-serif;
                    font-size: 20px;
                    font-weight: 700;
                    color:  #106753;
                }
            }  
        }
        

    .weather {
       
        width: 100%;
        height: 100%;
        display: none;
        flex-direction: column;
        position: relative;
        justify-content: space-around;
        scale: 0;
        opacity: 0;


        .chosen-city {    
            text-align: center;
            font-family: 'Cabin', sans-serif;
            font-size: 40px;
            font-weight: 700;
            color:  #106753;
            text-transform: capitalize;
            margin-bottom: 20px;
        }

        .current_weather {
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                width: 50%;
                margin-bottom: 20px;   
            }

            .temperature {
                font-family: 'Cabin', sans-serif;
                font-size: 40px;
                font-weight: 700;
                color:  #106753;
            }

            .description {
                font-family: 'Cabin', sans-serif;
                font-size: 20px;
                color:  #106753;
                font-weight: 700;
                text-transform: capitalize;
            }
        }

        .current_indicators {
            margin-top: 20px;
            display: grid;
            grid-template: repeat(2, auto)/repeat(2, auto);
            justify-content: space-between;
            row-gap: 20px;
            
            .indicator {
                display: flex;
                align-items: center;
                font-family: 'Cabin', sans-serif;
                font-size: 20px;
                color:  #106753;

                .param {
                    font-weight: 700;
                }

                p {
                    font-size: 15px;
                }

                .material-symbols-outlined {
                    font-size: 30px;
                    margin-right: 5px;
                }
            }
        }
    }


    .modal {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 250px;
        width: 400px;
        position: absolute;
        top: -50px;
        left: 50%;
        transform: translateX(-50%); 
        z-index: 99; 
        background-color: #fff;
        border-radius: 20px;
        padding: 5px;
        border: 1px solid  #106753;
        transition: all 1s ease;
        scale: 0;
        opacity: 0;



        .modal-item{
            display: inline-block;
            margin-left: auto;

            .material-symbols-outlined {
                text-align: center;
                color: #72867e;
                font-size: 20px;
                cursor: pointer;
                margin-right: 0;
                margin-left: auto;
                
                &:hover {
                    color: #232725;
                }
            }
        }

            .modal-img {
                img {
                    width: 200px;
                    height: 150px; 
                }
            }
        
            .modal-text {
                p {
                    text-align: center;
                    font-family: 'Cabin', sans-serif;
                    font-size: 20px;
                    font-weight: 700;
                    color:  #106753;
                }
            }  
    }

}

.big {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}





